set es_enableCustomData 1
set mysql_connection_string {{dbConnectionString}}
{{serverEndpoints}}

set servernumber "1"

exec server_resources.cfg

sets tags "Dansk Community, RP, Dansk RP, DK, DevoNetwork, Network, Devo, roleplay, Onesync, DD"
sets Discord "Discord.gg/zFRgZzG"
sets Whitelisted "✅"
sets Dansk "✅"
sets Hjemmeside "DevoNetwork.dk"

# add system admins
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
add_principal identifier.steam:110000104f67418 group.admin # add the admin to the group

# set an optional server info and connecting banner image url.
# size doesn't matter, any banner sized image will be fine.
sets banner_detail "https://cdn.discordapp.com/attachments/370997939168083980/603196273901830144/BrowserPreview_tmp.png"
sets banner_connecting "https://cdn.discordapp.com/attachments/370997939168083980/602936892895526914/BrowserPreview_tmp.png"

set serverhostname "[^1D^0K] Ny Server m/ Devo Network filer"

add_ace resource.uptime command.sets allow

sv_scriptHookAllowed 0

sv_hostname {{serverName}}

# convars for use from script
set temp_convar "hey world!"

# hide player endpoints in external log output
sv_endpointprivacy true

#server logo
load_server_icon logo.png

# server slots limit (default to 32)
sv_maxclients {{maxClients}}

# license key for server (https://keymaster.fivem.net)
sv_licenseKey {{svLicense}}

set onesync_enabled 1

# disable announcing? clear out the master by uncommenting this
#sv_master1 ""

sets locale "da-DK"

set steam_webApiKey "FE8FCC664BD6E3955A3C4EE29A46E026"

add_ace resource.uptime command.sets allow

set ac_webhook "https://discordapp.com/api/webhooks/640569557203025930/kxsb-cmtikYK0svQD6bTRTw4MaOeMdOO2dkaa7kN7N5CKX1LFP6UkyvBVbQyZT5Sd_I-"

add_ace group.admin anticheese.bypass allow

add_ace FZACAdmins fzacadmins allow

# DE ENESTE RIGTIGE PLANKER KAN BEVISE DE HAR ADGANG TIL SERVERCFG GITHUBBEN. ALLE ANDRE ER FAKERS!
